image: node:22
variables:
  PNPM_VERSION: 9
  PACKAGE_DIRECTORIES: packages

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - .changeset/**/*
        - packages/**/*
      when: always
    - if: $CI_PIPELINE_SOURCE == "web"
      when: always

release:
  tags:
    - hcloud-shared-runner

  before_script:
    - npm install -g pnpm@$PNPM_VERSION
    - |
      cat << EOF > "./.npmrc"
        @fdi:registry=https://nexus.hmc.co.kr/repository/npm-fdi/
        always-auth=true
        email=${NPM_AUTH_EMAIL}
        //nexus.hmc.co.kr/repository/npm-fdi/:_auth=${NPM_AUTH_TOKEN}
      EOF
    - cat ./.npmrc

  script:
    - pnpm install
    - pnpm turbo run build
    - |
      if [ -n "$(find .changeset -name "*.md")" ]; then
        git remote set-url origin "https://${DEPLOY_TOKEN_USERNAME}:${DEPLOY_TOKEN_PASSWORD}@gitlab.hmc.co.kr/fdi/openapi-ts.git"

        git checkout -B main origin/main

        pnpm changeset version
       
        git add .
        git config --global user.name "GitLab CI"
        git config --global user.email "gitlab-ci@hmc.co.kr"
        git commit -m "ci(changesets): version packages"
        git push origin main
        pnpm release
        node ./.gitlab/reusable-job/create-tag.js | bash
        
      else
        echo "No changesets found. Skipping release."
      fi

  rules:
    - if: $CI_COMMIT_BRANCH == "main"

cache:
  key:
    files:
      - pnpm-lock.yaml
  paths:
    - .pnpm-store
    - node_modules/
