  @fdi:registry=https://nexus.hmc.co.kr/repository/npm-fdi/
  always-auth=true
  email=zakelstorm@hyundai.com
  //nexus.hmc.co.kr/repository/npm-fdi/:_auth=NGhJOUU2cXQ6VHViSmhXelBzUl9JYkx0cWtaSmFrd1M1aGxqeU9Jc000ckV3ZHNDMVNOdkI=
